{{#>admin}}
        <div
      id="main-content"
      class="h-full p-10 w-full bg-gray-50 relative overflow-y-auto lg:ml-64"
    >
      <div class="flex justify-between">
        <span class="text-xl font-semibold">Staff Users</span>
        <button
          type="button"
          class="text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"
        >
          <a href='/admin/staff/store'> Create </a>
        </button>
      </div>
      <div class="w-full overflow-x-auto">
        <table class="w-full">
          <thead>
          <tr
            class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600"
          >
            <th class="px-4 py-3">Id</th>
            <th class="px-4 py-3">Name</th>
            <th class="px-4 py-3">DOB</th>
            <th class="px-4 py-3">Gender</th>
            <th class="px-4 py-3">Email</th>
            <th class="px-4 py-3">Phone</th>
            <th class="px-4 py-3">Address</th>
            <th class="px-4 py-3">Specialization</th>
            <th class="px-4 py-3">Bio</th>
            <th class="px-4 py-3">Image</th>
            <th class="px-4 py-3">Action</th>
          </tr>
          </thead>
          <tbody class="bg-white">
          {{#each viewData.staffs}}
            <tr class="text-gray-700">
              <td class="px-4 py-3 text-ms font-semibold border">{{staffID}}</td>

              <td class="px-4 py-3 border">
                <div class="flex items-center text-sm">
                  <div>
                    <p class="font-semibold text-black">{{firstName}}</p>
                    <p class="text-xs text-gray-600">{{lastName}}</p>
                  </div>
                </div>
              </td>
              <td class="px-4 py-3 text-ms font-semibold border">{{dateOfBirth}}</td>
              <td class="px-4 py-3 text-ms font-semibold border">{{gender}}</td>
              <td class="px-4 py-3 text-sm border">{{email}}</td>
              <td class="px-4 py-3 text-xs border">
										<span
                      class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-sm"
                    >
                      {{phone}}
                    </span>
              </td>
              <td class="px-4 py-3 text-sm border">{{address}}</td>
              <td class="px-4 py-3 text-sm border">{{specialization}}</td>
              <td class="px-4 py-3 text-sm border">{{bio}}</td>
              <td>
                <img src="/uploads/{{image}}" alt="Image">
              </td>
              <td class="px-4 py-3 text-sm border">
                <button
                  type="button"
                  class="mr-3 text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"
                >
                  <a href="/admin/staff/{{staffID}}"> Edit </a></button>
              </td>
              <td>
                <form action="/admin/staff/{{staffID}}" method="POST">
                  <button
                    type="submit"
                    class="text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"
                  >
                    Delete
                  </button>
                </form>
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
{{/admin}}



